<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.xiatian.model.mapper.GuanXiMapper">
<!--    查询关系-->
    <select id="selGuanxi" resultType="Guanxi">
        select * from guanxi
    </select>
</mapper>